// out: projects.css, sourcemap: false, compress: false
@bgcolor: #2B383E;
@highcolor: #6FDAA0;
@basecolor: #1F282F;
@txtcolor: #B8B8B8;

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
  background: @bgcolor;
  color:@txtcolor;
  /* Lista de reproducció: */
  font-family: open_sansregular;
  overflow:hidden;
}
a{
  color:@txtcolor;
  &:active,&:focus,&:visited{
    color:@txtcolor;
    text-decoration: none;
  }
}
  a#play,a#pause{
    text-decoration: none;
  }
.smalltext{
  font-size: 11px;
  font-family: open_sansregular;
}
h1{
  /* Lista de reproducció: */
font-family: open_sanslight;;
font-size: 28px;
color: @highcolor;
text-align: right;

}
h2{
  /* Lista de reproducció: */
font-family: open_sanslight;;
font-size: 18px;
color: #fff;
text-align: left;
text-transform: uppercase;
margin-bottom: 10px;
}
h3{
  font-family:open_sanslight;
  text-align: right;
  margin-top: 0px;
  color: @highcolor;
}

h4.subtitle{
  /* Fachada digital de m: */
  font-family: open_sanslight;
  font-size: 16px;
  color: @txtcolor;
  text-align: right;
}

.computerfont{
  font-family: courier;
  font-weight: lighter;
}
/**** video player ***/


.videoproyecto{
  position: absolute;
  top:40px+32px;
  left:40px;
}

#fachada{
  cursor: none;
  #text-container{
    position: absolute;
    top:40px;
    left:40px;
    width:192px;
    height: 157px;
    z-index:1000;
    background-color:black;
    display: none;
    div#text-body{
      padding:5px;
      //padding-top:20px;
      font-size: 12px;
      font-family: 'helvetica', 'arial';
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      /*background-color: red;*/
    }

     div#text-head1{
      padding-top:2px;
      margin-left:72px;
      margin-top:2px;
      width: 48px;
      height:14px;
      font-size: 8px;
      font-family: 'helvetica', 'arial';
      text-align: center;
      /*background-color: green;*/
    }
    div#text-head2{
      padding-top:2px;
      margin-left:36px;
      margin-top:0px;
      width: 120px;
      height: 14px;
      font-size: 8px;
      font-family: 'helvetica', 'arial';
      text-align: center;
      /*background-color: blue;*/
    }
  }
  #img-container{
    position: absolute;
    top:40px;
    left:40px;
    display: none;
  }

  video{
    width:192;
    height:125;
    object-fit: cover;
  }

  #f-top{
    position:absolute;
    top:40px;
    left:40px+36px+36px;
    width:48px;
    height:16px;
    background-color: #000;
  }
  #f-top2{
    position:absolute;
    top:40px+16px;
    left:40px+36px;
    width:48px+36px+36px;
    height:16px;
    background-color: #000;
  }
  #f-body{
    position:absolute;
    top:40px+32px;
    left:40px;
    width:192px;
    height:125px;
    background-color: #000;
  }

  #f-frame{
    position:absolute;
    top:40px;
    left:40px;
    width:192px;
    height:157px;
    background: transparent;
    border: 1px solid #fdd;
  }

  #content{
    display: none;
  }
} /** fin fachada **/


/********* fin minipantalla ****/



.whitebox{
  /* fondo: */
  background: @basecolor;
  border: 0px;
  border-radius: 4px;
  padding:10px 20px;
}

#first-row{
  min-height: 170px;
}

#playlists-list{
  margin-top: 50px;
}
#projects-box{
  a{
    font-size: 16px;
    font-family: open_sanslight;
  }
  .name,.tipo, .duracion{
    display: inline-block;
    margin-left: 2%;
    overflow: hidden;
    line-height: 1.4em;
  }
  .name{
    width: 60%;
  }
  .tipo{
    width: 10%;
    font-size: 0.7em;
  }
  .duracion{
    width: 20%;
    font-size: 0.8em;
  }
  #projects-wrapper{
    height: 300px;

    overflow-y: auto;
    li{
      border-bottom: 1px dotted @txtcolor;
      padding-top:5px;
       transition: background 1s, color 1s;
    }
    li.current{
      background: @highcolor;
      a{
        color:@basecolor;
      }
      /* Base Copy 2: */

    border-radius: 4px;
    border: 0px;

    }
  }

}

#playlist-name{
  .computerfont;
  .smalltext;
  margin-left:1em;
  
}



#controls{
  #playinginfo{
    transition: opacity 0.5s;
  }
  a#play,a#stop,a#loop{
    display: inline-block;
    margin-left:2em;
    font-size: 30px;

  }
    a#play.active span,a#stop.active span, a#loop.active span{
      color:@highcolor;
    }
    a#stop span{
      border-color: #B8B8B8;
    }

  #control-inner{
    text-align: center;
  }
  #proyecto-actual{
    font-family: open_sansregular;
    margin-bottom: 1em;
    font-size:14px;
    color:@highcolor;
    margin-left:2em;
    height:1em;
  }

}



/**** ticker *****/
.ticker-wrap {
    position: relative;
    bottom: top;
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding-left: 80%; // offsets items to begin
}

.ticker {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    white-space: nowrap;
    padding-right: 100%; // taken from container as display inline-block
}

.ticker__item {
    display: inline-block;   
    font-size: 8px;
    color: white;
    text-transform: uppercase;
}



@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}

.ticker {
    animation-name: ticker;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 12s; // tweak based on number of items/desired speed
}

/***********/

footer{
  width: 100%;
  background:@basecolor;
  height: 2em;
}

/*** **/
.day-upload > input{
  display: none;
}
.day-upload label{
  cursor:pointer
}


#singleFile span, .multipleFile span{

}
span.icon-folder, span.glyphicon-upload, #playlist-panel-save{
  color: @highcolor;
}
a#playlist-panel-save{
  display: none;
}

a#playlist-panel-save.changed{
  color:#EE396B;
}

span.filename{
  display: inline-block;
  border: 1px solid #6A6A67;
  background-color: #2B383E;
  padding: 0px 4px;
  margin:0px 4px;
  padding-bottom: 2px;
  width: 200px;
  color:@txtcolor ;
  .computerfont
}
span.filename.active{
  background-color: @highcolor;
  color:@bgcolor;
}
span.playlist-day{
  display: inline-block;
  width:100px;
}

a.load-playlist-btn, a.load-playlist-btn-single{
  display: inline-block;
  margin-left:1em;
  
}
